html {
  background-color: var(--clr-primary--1);
  color: var(--clr-primary-header-bg);
}

body {
  margin: 0;
}

a,
button {
  color: var(--clr-primary-base);
  transition: var(--delay);
  border-radius: 8%;
  letter-spacing: 0.03em;
  border-radius: 2em;
  font-family: inherit;
    

}

a {
    /* color: var(--clrPrimary-3); */
    text-decoration: none;
}
a:hover,
button:hover {
  color: var(--clr-primary--2);
}
/* HELPERS*/

.clean-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hide {
  display: none;
}

img {
  width: 100%;
}

