.editor {
  margin: 30px auto;
  width: 350px;
}

.panel-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  height: 300px;
  margin: auto;
  background-color: var(--clr-primary-header-bg);
  padding: 30px;
  border-radius: 10%;
  justify-content: center;
}

.input-text {
  grid-column: 1/-1;
  height: 3em;
  border-radius: 10px;
  border: none;
}

.input-text::placeholder {
  font-size: 1.2em;
  text-align: center;
  color: var(--clr-primary-header-bg);
  font-weight: 700;
}

.line-control-panel {
  grid-row: 2;
  grid-column: 1/-1;
  display: flex;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 10px;
  margin: auto;
}

.line-control-panel > * {
  width: 50px;
}

.panel-container button {
  width: 50px;
  height: 30px;
  border-radius: 0.5rem;
  border: none;
}
.panel-container button img {
  width: 40%;
  margin: auto;
  padding: 5px 5px;
}

.text-style-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  background-color: var(--clr-primary--1);
  padding: 10px;
  border-radius: 1rem;
}
.down-line {
  grid-row: 1;
  grid-column: 4;
}

.up-line {
  grid-row: 1;
  grid-column: 3;
}
.color-picker {
  grid-row: 2;
  grid-column: 4;
}

.emoji-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  border-radius: 1rem;
}

.emoji {
  font-size: 2em;
  text-align: center;
  background-color: transparent;
}

input.color-picker {
  width: 40px;
  margin: auto;
  border: none;
  border-radius: 1rem;
}

.file-panel {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 10px 10px;
  background-color: var(--clr-primary--1);
  align-items: center;
  padding: 10px;
  border-radius: 1rem;
}

.file-panel button {
  width: 80px;
  height: 40px;
  border-radius: 0.5rem;
  margin-top: 30px;
  border: none;
  margin: auto;
  font-weight: 700;
}

button:hover {
  filter: grayscale(100%);
  background-color: transparent;
}
