@media (width > 600px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .nav-bar {
    flex-direction: row;
  }
  .btn-toggle-menu {
    display: none;
  }

  .nav-bar {
    position: static;
  }

  .saved-images-container {
    grid-template-columns:1fr 1fr  1fr 1fr;
  }
