@media (width > 750px) {
  .gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
     margin: 30px 100px;
  }

  .nav-bar {
    flex-direction: row;
  }
  .btn-toggle-menu {
    display: none;
  }

  .nav-bar {
    position: static;
  }

  .saved-images-container {
    grid-template-columns:1fr 1fr  1fr 1fr;
  }

.search-line{
    margin-left: 100px;
}

.editor{
  display: grid;
  grid-template-columns: 1fr  1fr;
  gap:80px;
  margin: 100px;
  width: auto;
  
}


.canvas-containter{
    margin-bottom: 0px;
    justify-self: end;
  }
  .panel-container {
    margin: 0px ;
    justify-self: start;
}

.share-container{
  grid-column: 1/-1;
}

}